## FLAT PLATE SOLAR COLLECTOR PROJECT

---

## IZMIR, APRIL

In [503]:
cp = 4.184 # water cp is specific heat in KJ/kg.K
m_dot = 0.0133 # m is mass flow rate in kg/s
m = 1150 # m is kg/day

In [504]:
T_desired = 50 # in Celcius degree
T_ambient_April = 16.6 # in Celcius

In [505]:
Q = m * cp * (T_desired - T_ambient_April) # Q is KJ/day
Q

160707.44

In [506]:
Q_dot = m_dot * cp * (T_desired - T_ambient_April) # Q is heat requirement in kW
Q_dot

1.85861648

---

In [507]:
T_average_April = (T_ambient_April + 2*T_desired)/3 # average temperature in Celcius
T_average_April

38.86666666666667

---

In [508]:
H = 14654 # H is the monthly average daily total radiation on a horizontal surface in kJ/m2day
R = 0.978 # he monthly total radiation tilt factor
A = 1 # A is 1 for collector facing directly to south
t = 8 # t is

In [509]:
Gt = (H * R * A) / (3600 * t) # Gt is total radiation in kW/m2
Gt

0.49762541666666665

---

In [510]:
a = .863    # a and b efficiency factor
b = 6.615

In [511]:
efficiency_April = a - b*(T_average_April - T_ambient_April)/(Gt*1000)
efficiency_April

0.567006276474691

---
#### Crossection area of the collectors

In [512]:
A_aperture = 1.87 # m2 for one collector

In [513]:
Ac = Q / (H * efficiency_April * R) # Ac is m2
Ac

19.776665804857437

In [514]:
number_of_collectors = round(Ac / A_aperture)
number_of_collectors

11

---
### Step 8

In [515]:
import math

In [516]:
Length = 2 # length of the collector in m
Width = 1 # width of the collector in m
B = 38.4 # B is tilt angle in degrees
Height = Length * math.sin(B) #Height of the collector in m
z = 0 # z is zenith angle in degrees
Latitude = 38.4
a = 90 - Latitude - 9.4

In [517]:
Height

1.2897934658897348

In [518]:
y1 = (Height * math.cos(z) ) / math.tan(a) + Length * math.tan(B)
y1 = round(y1)
y1

1.9645496282938102

In [519]:
x2 = (Height * math.sin(z)) / math.tan(a) + Width
x2

1.0

---
---
## Tabulated Results for NOVEMBER, JANUARY

In [520]:
T_ambient_January = 12.3
T_ambient_November = 20.4

In [521]:
T_average_Jan = (T_ambient_January + 2*T_desired)/3 # average temperature in Celcius
T_average_Jan

37.43333333333333

In [522]:
T_average_Nov = (T_ambient_November + 2*T_desired)/3 # average temperature in Celcius
T_average_Nov

40.13333333333333

In [523]:
Q_Jan = m * cp * (T_desired - T_ambient_January) # Q is KJ/day
Q_Jan

181397.32000000004

In [524]:
Q_Nov = m * cp * (T_desired - T_ambient_November) # Q is KJ/day
Q_Nov

142423.36000000002

In [525]:
Q_dot_Jan = m_dot * cp * (T_desired - T_ambient_January) # Q is heat requirement in kW
Q_dot_Jan

2.0978994400000004

In [526]:
Q_dot_Nov = m_dot * cp * (T_desired - T_ambient_November) # Q is heat requirement in kW
Q_dot_Nov

1.6471571200000001

In [527]:
# January
H_Jan = 5987 # H is the monthly average daily total radiation on a horizontal surface in kJ/m2day
R_Jan = 1.665 # he monthly total radiation tilt factor
A = 1 # A is 1 for collector facing directly to south
t_Jan = 4.3 # t is

In [528]:
# January
Gt_Jan = (H_Jan * R_Jan * A) / (3600 * t_Jan) # Gt is total radiation in kW/m2
Gt_Jan

0.6439505813953488

In [529]:
# November
H_Nov = 7076 # H is the monthly average daily total radiation on a horizontal surface in kJ/m2day
R_Nov = 1.738 # he monthly total radiation tilt factor
A = 1 # A is 1 for collector facing directly to south
t_Nov = 5.6 # t is

In [530]:
# November
Gt_Nov = (H_Nov * R_Nov * A) / (3600 * t_Nov) # Gt is total radiation in kW/m2
Gt_Nov

0.6100242063492063

In [531]:
a = .863    # a and b efficiency factor
b = 6.615

In [532]:
efficiency_Jan = a - b*(T_average_Jan - T_ambient_January)/(Gt_Jan*1000)
efficiency_Jan

0.604817144353306

In [533]:
efficiency_Nov = a - b*(T_average_Nov - T_ambient_November)/(Gt_Nov*1000)
efficiency_Nov

0.6490150488433649

In [534]:
A_aperture = 1.87 # m2 for one collector

In [535]:
Ac_Jan = Q_Jan / (H_Jan * efficiency_Jan * R_Jan) # Ac is m2
Ac_Jan

30.08730420564421

In [536]:
number_of_collectors_Jan = round(Ac_Jan / A_aperture)
number_of_collectors_Jan

16

In [537]:
A_aperture = 1.87 # m2 for one collector

In [538]:
Ac_Nov = Q_Nov / (H_Nov * efficiency_Nov * R_Nov) # Ac is m2
Ac_Nov

17.84386233171128

In [539]:
number_of_collectors_Nov = round(Ac_Nov / A_aperture)
number_of_collectors_Nov

10

In [540]:
import math

In [557]:
Length = 2 # length of the collector in m
Width = 1 # width of the collector in m
B = 38.4 # B is tilt angle in degrees
Height = Length * math.sin(B) #Height of the collector in m
z = 0 # z is zenith angle in degrees
Latitude = 38.4
a = 90 - Latitude + 20.9

In [558]:
Height

1.2897934658897348

In [559]:
y1_Jan = (Height * math.cos(z) ) / math.tan(a) + Length * math.tan(B)
y1_Jan = round(y1_Jan)
y1_Jan

7

In [560]:
x2_Jan = (Height * math.sin(z)) / math.tan(a) + Width
x2_Jan

1.0

In [ ]:
import math

In [551]:
Length = 2 # length of the collector in m
Width = 1 # width of the collector in m
B = 38.4 # B is tilt angle in degrees
Height = Length * math.sin(B) #Height of the collector in m
z = 0 # z is zenith angle in degrees
Latitude = 38.4
a = 90 - Latitude + 18.9

In [552]:
Height

1.2897934658897348

In [556]:
y1_Nov = (Height * math.cos(z) ) / math.tan(a) + Length * math.tan(B)
y1_Nov = round(y1_Nov)
y1_Nov

2

In [561]:
x2_Nov = (Height * math.sin(z)) / math.tan(a) + Width
x2_Nov

1.0

---

In [9]:
def find_number_of_collectors(T_ambient,T_desired,H,R,t,A_aperture):
    cp = 4.184 # water cp is specific heat in KJ/kg.K
    m_dot = 0.0133 # m is mass flow rate in kg/s
    m = 1150 # m is kg/day
    # T_desired = 50 # in Celcius degree
    Q = m * cp * (T_desired - T_ambient) # Q is KJ/day
    Q_dot = m_dot * cp * (T_desired - T_ambient) # Q is heat requirement in kW
    T_average = (T_ambient + 2*T_desired)/3 # average temperature in Celcius
    A = 1 # A is 1 for collector facing directly to south
    Gt = (H * R * A) / (3600 * t) # Gt is total radiation in kW/m2
    a = .863    # a and b efficiency factor
    b = 6.615
    efficiency = a - b*(T_average - T_ambient)/(Gt*1000)
    Ac = Q / (H * efficiency * R) # Ac is m2
    number_of_collectors = round(Ac / A_aperture)
    return number_of_collectors

In [11]:
print("Total Number of collectors for January: ",find_number_of_collectors(T_ambient=11.5,T_desired=50,H=7997,R=1.408,t=5.2,A_aperture=1.87))

Total Number of collectors for January:  15

---
### Pump Calculation

In [12]:
Q = 0.0000133 # m3/s flow
p = 1 # kg/m3 density of water
H = 8 # m head

In [13]:
P = Q*p*H*9.81
P

0.001043784